<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/page/shead') %>
</head>

<body id="root">
    <div class="content">
        <div class="container-fluid">
            <div class="row justify-content-center h-100">
                <div class="col-md-4 bg-white rounded my-auto">
                    <div class="logo">
                        <span href="javascript:;" class="simple-text">
                            Attendance Tracker
                        </span>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-10 login-form">
                            <h2 class="logo">Page Not Found</h2>
                            <a href="javascript:;" class="center">Go Home</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</body>
<%- include('partials/page/sjsdefaults') %>

</html>