<html lang="en">

<head>
    <%- include('partials/page/shead') %>
</head>

<body>
    <div data-component="login" class="content">
        <!-- To be rendered by react -->
        
    </div>
</body>
<%- include('partials/page/sjsdefaults') %>

</html>