<div class="sidebar" data-color="black" data-image="/assets/img/sidebar-5.jpg">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="javascript:;" class="simple-text">
          Attendance Tracker
        </a>
        </div>
        <ul class="nav">
            <li>
                <a class="nav-link" href="/dashboard">
                    <i class="nc-icon nc-badge"></i>
                    <p>Attendance Board</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="/attendancetracking">
                    <i class="nc-icon nc-paper-2"></i>
                    <p>Tracked Attendance</p>
                </a>
            </li>
            <!-- <li class="nav-item active"> -->
            <li>
                <a class="nav-link" href="/chart">
                    <i class="nc-icon nc-chart"></i>
                    <p>Charts</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="/verifycode">
                    <i class="nc-icon nc-lock-circle-open"></i>
                    <p>Verification Codes</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="/download">
                    <i class="nc-icon nc-cloud-download-93"></i>
                    <p>Download Data</p>
                </a>
            </li>
        </ul>
    </div>
</div>